/node_modules
/public/hot
/public/storage
/public/employeeAttachments
/public/employeesPhoto
/public/images
/public/payments
/storage/*.key
/.env
/deploy.php
/vendor
/~/.vscode-root
#deploy.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

# Editor directories and files
.idea
.vscode
.DS_Store
storage/logs/laravel.log
storage/logs/laravel.log
